* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #fff;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
}

.article {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article h1{
  font-size: 40px;
  color: #333;
  margin-bottom: 0;
}

#image {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

#img-div {
  background-color: #fff;
  max-width: 98%;
  min-width: 98%;
  margin-left: auto;
  margin-right: auto;
}

#img-caption {
  padding: 15px;
  font-size: 14px;
}

#main {
  background-color: hsl(0, 0%, 93%);
  min-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

#tribute-info h2 {
  display: block;
  font-size: 18px;
  color: #333;
  text-align: center;
  padding: 25px;
}

#tribute-info {
  text-align: left;
  max-width: 600px;
}


#tribute-info li{
  line-height: 1.5;
  padding: 10px 0;
}

.div_finalparagraph{
  margin-left: auto;
  margin-right: auto;
}

.last_paragraph{
  font-style: oblique;
}

.footer{
  width: 95%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width:700px) {
  #main{
    margin: 2em auto;
  }
}
